.pokemon {
  color: rgb(8, 223, 1);
  font-size: 25px;
  padding: 5px;
  margin: 10px;
  height: 30px;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 10px;
}

.pokemons {
  width: 500px;
  height: 500px;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  background-color: black;
  margin-top: 20px;
  border-radius: 20px;
  box-shadow: 3px 3px 3px rgb(255, 153, 153), -3px -3px 3px rgb(126, 1, 1);
}
