.pokemain {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pokeimage {
  height: 100px;
  margin: 20px;
}

// // .pokeballimage {
// //   height: 80px;
// //   width: 80px;
// //   margin: 25px;
// }
.pokehead {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
}

.pokedexcontainer {
  display: flex;
  flex-direction: column;
  height: 800px;
  width: 700px;
  margin: 20px;
  background-color: rgb(223, 0, 0);
  border-radius: 50px;
  box-shadow: 4px 4px 4px rgb(128, 1, 1), -4px -4px 4px rgb(251, 116, 116);
}
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
