*,
*::after,
*::before {
  box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css?family=Indie+Flower|Itim|Monoton|Nosifer|Permanent+Marker|Rock+Salt&display=swap');
@import url('https://fonts.googleapis.com/css?family=Luckiest+Guy&display=swap');
@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');

@font-face {
  font-family: 'pokemonFont1';
  src: url('./pictures/pokemon/pokehollow.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'pokemonFont2';
  src: url('./pictures/pokemon/pokesolid.ttf');
  font-weight: normal;
  font-style: normal;
}
